.search-container{
  text-align: center;
  padding:20px;
}
.search-container p{
  display: none;
  color:red;
}
#meals-container{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  text-align: center;
  padding:30px;
}

#meals-container img{
  width: 100%;
}
.single-meal{
  background:white;
  cursor: pointer;
}

#details{
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#details li{
  list-style: none;
}
#details img{
  width:200px;
  border:10px solid white;
}