body{
  text-align: center;
}
#meals{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.food-details{
  text-align: center;
}

.food-details img{
  width: 400px;
}

#inputText{
  width: 40%;
  padding: 12px 20px;
  margin: 20px;
  box-sizing: border-box;
 }
 button{
  padding: 12px 20px;
 }

 #individualItem ul{
  list-style: none;
  text-align: center;
  font-size: 18px;
 }
